.send{
    margin: auto;
    padding: 20px;
    transition: .6s;
}
.send-h3{
    color: red;
    padding: 20px;
}

.send-h4{
    padding: 20px;
    background: red;
    transition: .8s;
    box-shadow: 4px 4px 40px rgb(224, 132, 132);
    color: white;
    width: 100%;
    border-radius: 6px;
}
.send-h4:hover{
    box-shadow: 4px 14px 40px rgb(224, 132, 132);
}
.boxs{
    width: 40%;
    background: white;
    box-shadow: 4px 4px 40px silver;
    border-radius: 10px;
    padding:10px;
    
}
.send-h6{
    padding: 10px;
}
.send-span{
    color: red;
}

.send-animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  
  .send-animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  
    60% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  
    60% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  
  .send-bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }